@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .2s;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.wrapper-container {
    background-color: #f3f3f3;
    .container-desc {
        background-color: #005FB8;
        .desc-content {
            padding: 24px 72px;
            margin: 0 auto;
            max-width: 1440px;
            font-family: 'Poppins', sans-serif;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                li {
                    a {
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
                li.logo {
                    width: 100%;
                    a {
                        font-weight: 600;
                    }
                }
            }
        }
    }


    .container-card {
        margin: 8px 72px;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        .card-desc {
            float: left;
            width: 23%;
            height: 396px;
            background-color: #f9f9f9;
            filter: drop-shadow(0px 0px 8px #00000029);
            margin: 1%;
            font-family: 'Poppins', sans-serif;
            img {
                height: 100px;
                object-fit: cover;
                display: grid;
                margin: 0 auto;
                background-color: #ffffff;
            }
            .desc-border {
                padding: 16px 24px;
                background-color: #f9f9f9;
                h3 {
                    font-weight: 500;
                    color: #555555;
                }
                h1 {
                    font-weight: 600;
                    color: #272727;
                }
                p {
                    font-weight: 500;
                    color: #005FB8;
                }
            }
        }
    }


    .container-functions {
        background-color: #ffffff;
        .functions-desc {
            padding: 48px 72px;
            margin: 0 auto;
            max-width: 1440px;
            h1 {
                font-weight: 600;
                color: #272727;
                line-height: 40px;
            }
            form {
                display: grid;
                width: 60%;
                input {
                    margin: 8px 0;
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 8px 24px;
                    border: 0;
                    background-color: #f3f3f3;
                    width: 100%;
                }
                input:focus {
                    outline: 0;
                }
                input[type=submit] {
                    background-color: #005FB8;
                    color: #ffffff;
                    cursor: pointer;
                }
                input[type=submit]:hover {
                    background-color: #003A71;
                }
            }
        }
    }


    .container-card-show {
        .card-show-desc {
            padding: 24px 72px;
            margin: 0 auto;
            max-width: 1440px;
            overflow-x: auto;
            h1 {
                font-weight: 600;
                color: #272727;
                line-height: 40px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                th, td {
                    border: 1px solid #005FB8;
                    font-size: 18px;
                    padding: 8px 16px;
                }
                th {
                    color: #ffffff;
                    background-color: #005FB8;
                    font-weight: 500;
                }
                td {
                    background-color: #f9f9f9;
                    font-weight: 500;
                    color: #272727;
                    img {
                        object-fit: cover;
                        display: grid;
                        margin: 0 auto;
                    }
                    button {
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 8px 16px;
                        border: 0;
                        color: #ffffff;
                        cursor: pointer;
                    }
                    button:focus {
                        outline: 0;
                    }
                    button.update {
                        background-color: #16b900;
                    }
                    button.update:hover {
                        background-color: #129700;
                    }
                    button.delete {
                        background-color: #ec2f00;
                    }
                    button.delete:hover {
                        background-color: #c22700;
                    }
                    input {
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        border: 0;
                        width: min-content;
                        text-align: center;
                        background: transparent;
                    }
                }
            }
        }
    }

    
}



@media screen and (max-width: 1024px) {
    .wrapper-container {
        .container-desc {
            .desc-content {
                padding: 24px 48px;
            }
        }
        .container-card {
            margin: 8px 48px;
            
            .card-desc {
                width: 31.3%;
            }
        }
        .container-functions {
            .functions-desc {
                padding: 48px 48px;
            }
        }
        .container-card-show {
            .card-show-desc {
                padding: 24px 48px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper-container {
        .container-desc {
            .desc-content {
                padding: 24px 24px;
            } 
        }
        .container-card {
            margin: 8px 24px;
            .card-desc {
                width: 48%;
            }
        }
        .container-functions {
            .functions-desc {
                padding: 48px 24px;
                form {
                    width: 100%;
                }
            }
        }
        .container-card-show {
            .card-show-desc {
                padding: 24px 24px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .wrapper-container {
        .container-card {
            .card-desc {
                width: 99%;
            }
        }
    }
}